##
## http://ands.org.au/guides/cpguide/cpgparty-bestpractice.html says that best
## practice for the namePart element with type="given" shall "Include all the
## given names and initials for a person as a string in a single name part,
## leaving spaces between each name and initial"
## ie. Given names = Given name [+ Other names] [+ (Pref name)]
##
#macro(showGivenNames)
  #set ($givenName = $util.get($item, 'data', 'Given_Name'))	## Mandatory field
  #set ($givenNames = $givenName)

  #set ($value = $util.get($item, "data", "Other_Names"))	## Optional field
  #if ("$!value" != "")
    #set ($givenNames = "$givenNames $value")
  #end

  #set ($value = $util.get($item, "data", "Pref_Name"))		## Optional field
  #if ("$!value" != "" && "$givenName" != "$value")
    #set ($givenNames = "$givenNames ($value)")
  #end
  <namePart type="given">$util.encodeXml($givenNames)</namePart>
#end

##
## Build a Description field to fallback to if existing one is empty.
## Description = [Honorific +] Given name [+ Other names] [+ (Pref name)] [+ Family name]
##
#macro(showFallbackDescription)
  #set ($givenName = $util.get($item, 'data', 'Given_Name'))	## Mandatory field
  #set ($desc = $givenName)

  #set ($value = $util.get($item, "data", "Honorific"))		## Optional field
  #if ("$!value" != "")
    #set ($desc = "$value $desc")
  #end

  #set ($value = $util.get($item, "data", "Other_Names"))	## Optional field
  #if ("$!value" != "")
    #set ($desc = "$desc $value")
  #end

  #set ($value = $util.get($item, "data", "Pref_Name"))		## Optional field
  #if ("$!value" != "" && "$givenName" != "$value")
    #set ($desc = "$desc ($value)")
  #end

  #set ($value = $util.get($item, "data", "Family_Name"))	## Optional field
  #if ("$!value" != "")
    #set ($desc = "$desc $value")
  #end
  <description type="full">$util.encodeXml($desc)</description>
#end

#set($defaultOnError = "&Invalid XML placeholder... prevents ANDS Harvesting records in error&")
#set($group = $systemConfig.getString($defaultOnError, "redbox.identity", "RIF-CS Group"))

##### START Identifier resolution
#set($pidProperty = $systemConfig.getString($defaultOnError, "curation", "pidProperty"))
#set ($pid = $util.getMetadata($object, $pidProperty))
#if ("$!pid" == "")
    #set ($pid = $util.get($item, "metadata", "rdf:resource"))
    #if ("$!pid" == "")
        #set ($pid = $util.get($item, "metadata", "dc.identifier"))
    #end
#end
##### END Identifier resolution

<registryObjects xmlns="http://ands.org.au/standards/rif-cs/registryObjects" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://ands.org.au/standards/rif-cs/registryObjects http://services.ands.org.au/documentation/rifcs/1.6/schema/registryObjects.xsd">
    <registryObject group="$util.encodeXml($group)">
        <key>$util.encodeXml($pid)</key>
        <originatingSource>$urlBase</originatingSource>
        <party type="person">
            <identifier type="uri">$util.encodeXml($pid)</identifier>

            #set ($nla_id = $util.getMetadata($object, "nlaPid"))
            #if ("$!nla_id" != "") 
            <identifier type="AU-ANL:PEAU">$util.encodeXml($nla_id)</identifier> 
            #end
            #set ($orcidId = $util.get($item, "data", "Orcid_ID"))
            #if ("$!orcidId" != "")
            <identifier type="orcid">$util.encodeXml($orcidId)</identifier> 
            #end
            
            
            ### Name
            <name type="primary">
                #showGivenNames ()

                #set ($value = $util.get($item, "data", "Family_Name"))
                #if ("$!value" != "")
                <namePart type="family">$util.encodeXml($value)</namePart>
                #end

                #set ($value = $util.get($item, "data", "Honorific"))
                #if ("$!value" != "")
                <namePart type="title">$util.encodeXml($value)</namePart>
                #end
            </name>

            <location>
            ### Home Page
            #set ($value = $util.get($item, "data", "Staff_Profile_Homepage"))
            #if ("$!value" != "")
                <address>
                    <electronic type="url">
                        <value>$util.encodeXml($value)</value>
                    </electronic>
                </address>
            #else
                #set ($value = $util.get($item, "data", "Personal_Homepage"))
                #if ("$!value" != "")
                <address>
                    <electronic type="url">
                        <value>$util.encodeXml($value)</value>
                    </electronic>
                </address>
                #end
            #end

            ### Email address
            #set ($value = $util.get($item, "data", "Email"))
            #if ("$!value" != "")
                <address>
                    <electronic type="email">
                        <value>$util.encodeXml($value)</value>
                    </electronic>
                </address>
            #end
            </location>

            ### ANZSRC
            #set ($value = $util.get($item, "data", "ANZSRC_FOR_1"))
            #if ("$!value" != "")
            <subject type="anzsrc-for">$util.encodeXml($value)</subject>
            #end
            #set ($value = $util.get($item, "data", "ANZSRC_FOR_2"))
            #if ("$!value" != "")
            <subject type="anzsrc-for">$util.encodeXml($value)</subject>
            #end
            #set ($value = $util.get($item, "data", "ANZSRC_FOR_3"))
            #if ("$!value" != "")
            <subject type="anzsrc-for">$util.encodeXml($value)</subject>
            #end

            ### Description
            #set ($value = $util.get($item, "data", "Description"))
            #if ("$!value" != "")
            <description type="full">$util.encodeXml($value)</description>
            #else
            #showFallbackDescription ()
            #end

            ### Relations
            #set($valueList = $item.getJsonSimpleList("relationships"))
            #if($valueList)
                #foreach($value in $valueList)
                    #if ($value.getBoolean(false, "isCurated"))
                        #set($key = $value.getString("empty", "curatedPid"))
                        #set($rel = $value.getString("hasAssociationWith", "relationship"))
                        #if ($key != "empty")
            <relatedObject>
                <key>$util.encodeXml($key)</key>
                <relation type="$util.encodeXml($rel)"/>
            </relatedObject>
                        #end
                    #end
                #end
            #end

        </party>
    </registryObject>
</registryObjects>
